<brit-board
  [areas]="areas$ | async"
  [nations]="nations$ | async"
  [rounds]="rounds$ | async"
  [nationsMap]="nationsMap$ | async"
  [unitsMap]="unitsMap$ | async"
  [players]="players$ | async"
  [logs]="logs$ | async"
  [message]="message$ | async"
  [turnPlayer]="turnPlayer$ | async"
  [currentPlayer]="currentPlayer$ | async"
  [validAreas]="validAreas$ | async"
  [validUnits]="validUnits$ | async"
  (areaClick)="onAreaClick ($event)"
  (unitClick)="onUnitClick ($event)">
</brit-board>
  <!-- [validLands]="validLands$ | async"
  [validActions]="validActions$ | async"
  [validBuildings]="validBuildings$ | async"
  [validResources]="validResources$ | async"
  [canPass]="canPass$ | async"
  [canCancel]="canCancel$ | async"
  [maxNumberOfKnights]="maxNumberOfKnights$ | async"
  [endGame]="endGame$ | async"
  (playerSelect)="onPlayerSelect ($event)"
  (buildingSelect)="onBuildingSelect ($event)"
  (landTileClick)="onLandTileClick ($event)"
  (actionClick)="onActionClick ($event)"
  (passClick)="onPassClick ()"
  (cancelClick)="onCancelClick ()"
  (knightsConfirm)="onKnightsConfirm ($event)"
  (resourceSelect)="onResourceSelect ($event)" -->
