@import "bg-variables";

:host {
  display: contents;
}

.bg-archeo-game {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .bg-archeo-game-create {
    align-self: flex-end;
  }
}

.bg-home-games-table {
  width: 100%;
  .bg-home-game-row:hover {
    border-right: 5px solid $primary;
    z-index: 2;
  }
}

.bg-home-add-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
