@import "brit-variables";

.brit-new-players {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  &.is-online-game {
    grid-template-columns: 1fr 1fr 2fr 2fr;
  }

  gap: 1rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  .brit-new-players-type-button {
    justify-self: end;
    &.is-red { background-color: $red-light; }
    &.is-yellow { background-color: $yellow-light; }
    &.is-green { background-color: $green-light; }
    &.is-blue { background-color: $blue-light; }
    .s-new-players-color-icon {
      visibility: hidden;
    }
  }
  .brit-new-players-type-caption {
    margin-left: 5px;
    font-style: italic;
    justify-self: start;
  }
}

.brit-room-start-button {
  margin-left: auto !important;
}
