<svg
  id="mysvg"
  xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
  width="100%" height="100%"
  viewBox="0 0 1000 500" preserveAspectratio="xMinYMin">
  <defs>
    <pattern id="mountain" height="100%" width="100%" patternContentUnits="objectBoundingBox">
      <image width="1" height="1" preserveAspectRatio="none" xlink:href="assets/barony/land-tiles/mountain.png"></image>
    </pattern>
    <pattern id="lake" height="100%" width="100%" patternContentUnits="objectBoundingBox">
      <image width="1" height="1" preserveAspectRatio="none" xlink:href="assets/barony/land-tiles/lake.png"></image>
    </pattern>
    <pattern id="plain" height="100%" width="100%" patternContentUnits="objectBoundingBox">
      <image width="1" height="1" preserveAspectRatio="none" xlink:href="assets/barony/land-tiles/plain.png"></image>
    </pattern>
    <pattern id="fields" height="100%" width="100%" patternContentUnits="objectBoundingBox">
      <image width="1" height="1" preserveAspectRatio="none" xlink:href="assets/barony/land-tiles/fields.png"></image>
    </pattern>
    <pattern id="forest" height="100%" width="100%" patternContentUnits="objectBoundingBox">
      <image width="1" height="1" preserveAspectRatio="none" xlink:href="assets/barony/land-tiles/forest.png"></image>
    </pattern>
  </defs>
  <!-- [attr.transform]="currentMapTransform$ | async"
    (mousewheel)="onMouseWheel ($event)"
    (mousedown)="onMouseDown ($event)"
    (focus)="onFocus ($event)"
    points="300,150 225,280 75,280 0,150 75,20 225,20"
    (keypress)="onKeyPress ($event)"> -->

  <svg:g
    class="b-map"
    [attr.transform]="'translate(600 300) scale(30 30)'">
    <svg:g
      *ngFor="let land of lands; trackBy: landTrackBy"
      baronyLandTile
      [type]="land.type"
      [coordinates]="land.coordinates"
      [pawns]="land.pawns"
      [active]="isValid ? isValid[land.id] : false"
      [disabled]="isValid ? !isValid[land.id] : false"
      (landTileClick)="onLandTileClick (land)">
    </svg:g>
  </svg:g>
</svg>
