<div
  class="b-log"
  [ngClass]="{
    'b-log-title': log.type === 'setup' || log.type === 'turn'
  }">
  <ng-container *ngFor="let fragment of fragments" [ngSwitch]="fragment.type">
    <span *ngSwitchCase="'string'">{{ fragment.label }}</span>
    <a *ngSwitchCase="'player'" [ngClass]="'is-' + $any (fragment).player.color">{{ fragment.label }}</a>
    <a *ngSwitchCase="'land'" [ngClass]="'is-' + $any (fragment).land.type">{{ fragment.label }}</a>
    <a *ngSwitchCase="'pawn'">{{ fragment.label }}</a>
  </ng-container>
</div>
