@import "bg-variables";

:host {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: 64px;
  background-color: $surface;
}

.bg-toolbar-account-button {
  margin-left: auto;
}

.bg-toolbar-sign-in-button {
  margin-left: auto;
}

.bg-toolbat-account-signed-in {
  padding: 16px;
}

.bg-toolbar-account-menu {
  min-width: 180px;
}