<button mat-icon-button class="move-up" (click)="onMoveUp()">
  <i class="fa fa-angle-up"></i>
</button>
<button mat-icon-button class="move-down" (click)="onMoveDown()">
  <i class="fa fa-angle-down"></i>
</button>
<button mat-icon-button class="move-left" (click)="onMoveLeft()">
  <i class="fa fa-angle-left"></i>
</button>
<button mat-icon-button class="move-right" (click)="onMoveRight()">
  <i class="fa fa-angle-right"></i>
</button>
<button mat-icon-button class="zoom-in" (click)="onZoomIn()">
  <i class="fa fa-search-plus"></i>
</button>
<button mat-icon-button class="zoom-out" (click)="onZoomOut()">
  <i class="fa fa-search-minus"></i>
</button>
<button mat-icon-button class="reset" (click)="onReset()">Reset</button>
<button mat-icon-button class="auto-size" (click)="onAutoSize()">
  <i class="fa fa-arrows-alt"></i>
</button>
