@import "barony-variables";

.b-actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2vmin;
  .b-action {
    &.b-cancel {
      grid-column-start: 2;
    }
    padding: 2vmin;
    box-shadow: $widget-shadow;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 0;
    background-color: white;
    outline: none;
    &.is-active {
      cursor: pointer;
      &:hover {
        box-shadow: $widget-shadow-hover;
      }
    }
    &.is-disabled {
      opacity: 0.5;
      cursor: no-drop;
    }
  }
}