
<div class="brit-board">
  <div class="brit-board-map-layer">
    <brit-map
      #britMap
      [areas]="areas"
      [nations]="nations"
      [rounds]="rounds"
      [unitsMap]="unitsMap">
    </brit-map>
  </div>
  <div class="brit-board-widgets-layer">
    <div
      [class]="'brit-board-instructions-widget' + (turnPlayer ? (' is-' + turnPlayer.color) : '')">
      <div class="brit-board-instructions">{{ message }}</div>
    </div>
    <!-- <barony-actions
      class="b-board-actions-widget"
      *ngIf="validActions || canPass || canCancel"
      [canPass]="canPass"
      [canCancel]="canCancel"
      [validActions]="validActions"
      (actionClick)="onActionClick ($event)"
      (passClick)="onPassClick ()"
      (cancelClick)="onCancelClick ()">
    </barony-actions> -->
    <div class="brit-board-players-widget">
      <brit-players [players]="players"></brit-players>
      <!-- <div *ngFor="let otherPlayer of (otherPlayers); trackBy: playerTrackBy" class="b-board-player-widget">
        <barony-player-status
          (selectPlayer)="onPlayerSelect (otherPlayer)"
          [player]="otherPlayer">
        </barony-player-status>
      </div>
      <div class="b-board-player-widget" *ngIf="currentPlayer">
        <barony-player-status
          [player]="currentPlayer"
          currentPlayer>
        </barony-player-status>
      </div>
    </div> -->
    </div>
    <div class="brit-board-extras">
      <bg-map-zoom-buttons *ngIf="zoomFixed" class="brit-board-zoom-buttons-widget" [controls]="britMap.bgMapZoom"></bg-map-zoom-buttons>
      <!-- <brit-logs *ngIf="logsFixed" class="brit-board-logs-widget" [logs]="logs"></brit-logs> -->
      <div class="brit-board-buttons">
        <button class="brit-board-button" [ngClass]="{ 'is-active': logsFixed }" (click)="logsFixed = !logsFixed">
          <i class="brit-board-logs-icon fa fa-file-text"></i>
        </button>
        <button class="brit-board-button" [ngClass]="{ 'is-active': zoomFixed }" (click)="zoomFixed = !zoomFixed">
          <i class="brit-board-logs-icon fa fa-search-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>
