<ng-container [bgForm]="player" (bgFormChange)="onPlayerChange($event)">
  <div class="bg-player-type">
    <div class="bg-player-type-button-container">
      <button
        class="bg-player-type-button"
        [disabled]="!(player.type === 'open' || isOwner || isPlayer)"
        mat-fab
        (click)="onNextPlayerType()"
      >
        <ng-container [ngSwitch]="player.type">
          <mat-icon *ngSwitchCase="'closed'">no_accounts</mat-icon>
          <mat-icon *ngSwitchCase="'user'">person_pin</mat-icon>
          <mat-icon *ngSwitchCase="'ai'">monitor</mat-icon>
          <mat-icon *ngSwitchCase="'open'">cloud</mat-icon>
        </ng-container>
      </button>
    </div>
    <div [ngSwitch]="player.type" class="bg-player-type-caption-container">
      <span *ngSwitchCase="'closed'" class="mat-caption bg-player-type-caption"
        >closed</span
      >
      <span *ngSwitchCase="'user'" class="mat-caption bg-player-type-caption">{{
        isPlayer ? 'me' : 'other'
      }}</span>
      <span *ngSwitchCase="'ai'" class="mat-caption bg-player-type-caption"
        >AI</span
      >
      <span *ngSwitchCase="'open'" class="mat-caption bg-player-type-caption"
        >open</span
      >
    </div>
  </div>
  <ng-container
    *ngIf="player.type === 'user' || player.type === 'ai'; else notPlayer"
  >
    <mat-form-field class="bg-player-name">
      <mat-label>Player name</mat-label>
      <input
        bgField="name"
        matInput
        [required]="player | bgTransform : playerNameActive"
        [disabled]="!(player | bgTransform : playerNameActive)"
        autocomplete="off"
      />
    </mat-form-field>
    <div *ngIf="onlineGame" class="bg-player-ready">
      <mat-checkbox
        *ngIf="player.type === 'user'"
        [disabled]="!isPlayer"
        bgField="ready"
        >Ready</mat-checkbox
      >
    </div>
  </ng-container>
  <ng-template #notPlayer>
    <div class="bg-player-name"></div>
    <div *ngIf="onlineGame" class="bg-player-ready"></div>
  </ng-template>
</ng-container>
