@mixin brit-path {
  opacity: 0;
  &:hover {
    opacity: 0.3;
  }
}
.brit-area-path {
  @include brit-path;
}
.brit-population-track-path {
  @include brit-path;
}
.brit-nation-turn-path {
  @include brit-path;
}
.brit-round-path {
  @include brit-path;
}
.brit-event-path {
  @include brit-path;
}
.brit-scoring-path {
  @include brit-path;
}
.brit-unit-rect {
  fill: white;
  stroke: white;
  stroke-width: 2px;
  stroke-linejoin: bevel;
}
.brit-population-circle {
  fill: white;
  stroke: white;
  stroke-width: 2px;
}
