.b-knights-selector-container {
  display: flex;
  align-items: center;
  .b-knights {
    .b-knights-number {
      font-size: 4vmin;
    }
    .b-knights-fraction-sign {
      margin-right: 0.3vw;
      margin-left: 0.3vw;
      font-size: 3vmin;
    }
    .b-knights-max {
      font-size: 3vmin;
    }
  }
  .b-knights-buttons {
    margin-left: 0.5vw;
    display: flex;
    flex-direction: column;
    & > button {
      background: black;
      color: white;
      font-size: 4vmin;
      width: 4vw;
      &.is-active {
        cursor: pointer;
        &:hover {
          background-color: #666666;
        }
      }
      &.is-disabled {
        cursor: no-drop;
        color: #999999
      }
    }
  }
  .b-knights-confirm {
    background: black;
    color: white;
    margin-left: auto;
    font-size: 3vmin;
    width: 4vw;
    height: 4vw;
    &:hover {
      background-color: #666666;
    }
  }
}