// @import '~@angular/material/theming';
@use "@angular/material" as mat;
@use "bg-variables" as bg;

$bg-typography-config: mat.m2-define-typography-config(
  $headline-1: mat.m2-define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em, $font-family: system-ui),
  $headline-2: mat.m2-define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em, $font-family: system-ui),
  $headline-3: mat.m2-define-typography-level(45px, 45px, 400, $letter-spacing: -0.005em, $font-family: system-ui),
  $headline-4: mat.m2-define-typography-level(34px, 40px, 400, $font-family: system-ui),
  $headline-5: mat.m2-define-typography-level(24px, 32px, 400, $font-family: system-ui),
  $subtitle-1: mat.m2-define-typography-level(18px, 28px, 400, $font-family: system-ui),
  $subtitle-2: mat.m2-define-typography-level(16px, 24px, 400, $font-family: system-ui),
  $body-2: mat.m2-define-typography-level(16px, 24px, 500, $font-family: system-ui),
  $body-1: mat.m2-define-typography-level(16px, 20px, 400, $font-family: system-ui),
  $caption: mat.m2-define-typography-level(14px, 20px, 400, $font-family: system-ui),
  $button: mat.m2-define-typography-level(16px, 16px, 500, $font-family: system-ui)
);

$bg-primary: mat.m2-define-palette(mat.$m2-purple-palette, 200);
$bg-accent: mat.m2-define-palette(mat.$m2-green-palette, 200);
$bg-warn: mat.m2-define-palette(mat.$m2-deep-orange-palette);

$bg-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $bg-primary,
      accent: $bg-accent,
      warn: $bg-warn
    ),
    typography: $bg-typography-config
  )
);

@include mat.all-component-themes($bg-theme);
