:host {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .bg-player-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    .bg-player-type-button-container {
      flex: 1;
      text-align: end;
      .bg-player-type-button {
        // justify-self: end;
        .s-new-players-color-icon {
          visibility: hidden;
        }
        &.mat-button-disabled {
          color: grey;
        }
      }
    }
    .bg-player-type-caption-container {
      flex: 1;
      text-align: start;
      .bg-player-type-caption {
        margin-left: 5px;
        font-style: italic;
        // justify-self: start;
      }
    }
  }
  .bg-player-name {
    flex: 2;
  }
  .bg-player-ready {
    flex: 1;
    text-align: center;
  }
}
