.agot-utilities {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
  .agot-utility-wrapper {
    padding: 10px;
    .agot-utility {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      // cursor: pointer;
      width: 200px;
      height: 50px;
      &:hover {
        box-shadow: 0 4px 17px rgb(255 255 255 / 35%);
      }
    }
  }
}