@import 'bg-variables';

@function widget-shadow($color) {
  @return inset 0 0 6px 0px $color;
}
@function widget-shadow-hover($color) {
  @return inset 0 0 6px 2px $color;
}

$widget-shadow: widget-shadow(#fff);
$widget-shadow-hover: widget-shadow-hover(#fff);

$surface: rgb(34 34 34 / 80%);

$red-light: #ffa4a2;
$green-light: #98ee99;
$blue-light: #80d6ff;
$yellow-light: #ffff8b;

$red: #ef5350;
$blue: #42a5f5;
$green: #66bb6a;
$yellow: #ffee58;

$font-size-players: 2.5vmin;
$font-size-instructions: 2.5vmin;
$font-size-actions: 2vmin;
$font-size-logs: 1.5vmin;
$line-height-logs: 2.5vmin;

$color-mountain: #94887c;
$color-lake: #0e517e;
$color-forest: #597736;
$color-plain: #80a93f;
$color-fields: #c8932e;

$spacer: 2vmin;

@mixin b-button {
  padding: $spacer;
}
