@import "barony-variables";

.brit-actions {
  display: grid;
  grid-template-columns: 1fr 1fr/*  1fr */;
  grid-template-rows: 1fr/*  1fr */;
  grid-gap: 2vmin;
  font-size: $font-size-actions;
  .brit-action {
    /* &.brit-cancel {
      grid-column-start: 2;
    } */
    padding: 2vmin;
    box-shadow: $widget-shadow;
    color: white;
    background-color: $surface;
    border: 0;
    outline: none;
    &.is-active {
      cursor: pointer;
      &:hover {
        box-shadow: $widget-shadow-hover;
      }
    }
    &.is-disabled {
      opacity: 0.5;
      cursor: no-drop;
    }
  }
}