<!-- <div *ngFor="let landTile of landTiles$ | async">
  {{ landTile.coordinates.x }} {{ landTile.type }}
</div> -->
<div class="b-board">
  <div class="b-board-map-layer">
    <barony-map [landTiles]="(landTiles$ | async)!"></barony-map>
  </div>
  <div class="b-board-widgets-layer">
    <div class="b-board-player-widgets">
      <div *ngFor="let otherPlayer of (otherPlayers$ | async)" class="b-board-player-widget">
        <barony-player-status
          [name]="otherPlayer.name">
        </barony-player-status>
      </div>
      <div class="b-board-player-widget" *ngIf="currentPlayer$ | async as currentPlayer">
        <barony-player-status
          [name]="currentPlayer.name"
          currentPlayer>
        </barony-player-status>
      </div>
    </div>
    <div class="b-board-action-widget">
      <barony-actions></barony-actions>
    </div>
  </div>
</div>