<div class="b-board">
  <div class="b-board-map-layer">
    <barony-map
      [lands]="lands"
      [validLands]="validLands"
      (landTileClick)="onLandTileClick ($event)">
    </barony-map>
  </div>
  <div class="b-board-widgets-layer">
    <div
      [class]="'b-board-instructions-widget' + (currentPlayer ? (' is-' + currentPlayer.color) : '')">
      <div class="b-board-instructions">{{ message }}</div>
      <barony-knights-selector
        *ngIf="maxNumberOfKnights"
        [(number)]="numberOfKnights"
        min=1
        [max]="maxNumberOfKnights"
        (confirm)="onKnightsConfirm ()">
      </barony-knights-selector>
      <barony-buildings-selector
        *ngIf="validBuildings"
        [buildings]="validBuildings"
        [player]="currentPlayer"
        (buildingClick)="onBuildingSelect ($event)">
      </barony-buildings-selector>
      <barony-resources-selector
        *ngIf="validResources"
        [resources]="validResources?.resources"
        (resourceClick)="onResourceSelect ($event)">
      </barony-resources-selector>
    </div>
    <barony-actions
      class="b-board-actions-widget"
      *ngIf="validActions || canPass || canCancel"
      [canPass]="canPass"
      [canCancel]="canCancel"
      [validActions]="validActions"
      (actionClick)="onActionClick ($event)"
      (passClick)="onPassClick ()"
      (cancelClick)="onCancelClick ()">
    </barony-actions>
    <div class="b-board-players-widget">
      <div *ngFor="let otherPlayer of (otherPlayers); trackBy: playerTrackBy" class="b-board-player-widget">
        <barony-player-status
          (selectPlayer)="onPlayerSelect (otherPlayer)"
          [player]="otherPlayer">
        </barony-player-status>
      </div>
      <div class="b-board-player-widget" *ngIf="currentPlayer">
        <barony-player-status
          [player]="currentPlayer"
          currentPlayer>
        </barony-player-status>
      </div>
    </div>
    <barony-logs class="b-board-logs-widget" [logs]="logs"></barony-logs>
  </div>
</div>