@import "barony-variables";

.b-board {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: black;
  .b-board-map-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .b-board-widgets-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 2vmin;

    grid-template-areas: 
      "summary . logs"
      "players . logs"
      "players . actions"
      "players instructions actions";

    .b-board-instructions-widget {
      grid-area: instructions;
      pointer-events: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      padding: 2vh;
      background: black;
      color: white;
      box-shadow: $widget-shadow;
      font-size: $font-size-instructions;
      &.is-red {
        border-bottom: 3px solid $red;
      }
      &.is-blue {
        border-bottom: 3px solid $blue;
      }
      &.is-yellow {
        border-bottom: 3px solid $yellow;
      }
      &.is-green {
        border-bottom: 3px solid $green;
      }
      .b-board-instructions {
        
      }
      barony-knights-selector,
      barony-resources-selector,
      barony-buildings-selector {
        display: block;
        margin-top: 2vh;
      }
    }
    .b-board-actions-widget {
      grid-area: actions;
      pointer-events: auto;
      margin-top: auto;
      margin-left: auto;
    }
    .b-board-players-widget {
      grid-area: players;
      z-index: 1;
      margin-top: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: auto;
      grid-gap: 2vmin;
      .b-board-player-widget {
        pointer-events: auto;
        background-color: white;
        box-shadow: $widget-shadow;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &:hover {
          box-shadow: $widget-shadow-hover;
        }
      }
    }
    .b-board-logs-widget {
      grid-area: logs;
      pointer-events: auto;
      margin-left: auto;
      margin-bottom: auto;
      padding: 2vmin;
      box-shadow: $widget-shadow;
      font-size: $font-size-logs;
    }
    .b-board-summary-widget {
      pointer-events: auto;
      grid-area: summary;
      .b-board-summary-icon {
        cursor: pointer;
      }
      .b-board-summary-image {
        display: none;
        position: absolute;
        z-index: 10;
        &.is-fixed {
          display: block;
        }
      }
      .b-board-summary-icon:hover + .b-board-summary-image {
        display: block;
      }
    }
  }
}

