<div class="b-board">
  <div class="b-board-map-layer">
    <barony-map
      #baronyMap
      [lands]="lands"
      [validLands]="validLands"
      (landTileClick)="onLandTileClick ($event)">
    </barony-map>
  </div>
  <div class="b-board-widgets-layer">
    <div
      *ngIf="message"
      [class]="'b-board-instructions-widget' + (turnPlayer ? (' is-' + turnPlayer.color) : '')">
      <div class="b-board-instructions">{{ message }}</div>
      <barony-knights-selector
        *ngIf="maxNumberOfKnights"
        [(number)]="numberOfKnights"
        min=1
        [max]="maxNumberOfKnights"
        (confirm)="onKnightsConfirm ()">
      </barony-knights-selector>
      <barony-buildings-selector
        *ngIf="validBuildings"
        [buildings]="validBuildings"
        [player]="currentPlayer"
        (buildingClick)="onBuildingSelect ($event)">
      </barony-buildings-selector>
      <barony-resources-selector
        *ngIf="validResources"
        [resources]="validResources.resources"
        (resourceClick)="onResourceSelect ($event)">
      </barony-resources-selector>
    </div>
    <barony-actions
      class="b-board-actions-widget"
      *ngIf="validActions || canPass || canCancel"
      [canPass]="canPass"
      [canCancel]="canCancel"
      [validActions]="validActions"
      (actionClick)="onActionClick ($event)"
      (passClick)="onPassClick ()"
      (cancelClick)="onCancelClick ()">
    </barony-actions>
    <div class="b-board-players-widget">
      <barony-player-status *ngFor="let player of players; trackBy: playerTrackBy" class="b-board-player-widget"
        (selectPlayer)="onPlayerSelect (player)"
        [player]="player"
        [currentPlayer]="player === currentPlayer">
      </barony-player-status>
    </div>
    <div class="b-board-extras">
      <bg-map-zoom-buttons *ngIf="zoomFixed" class="b-board-zoom-buttons-widget" [controls]="baronyMap.bgMapZoom"></bg-map-zoom-buttons>
      <img *ngIf="summaryFixed" class="b-board-summary-image" src="assets/barony/summary.jpg">
      <barony-scoreboard *ngIf="scoreboardFixed" class="b-board-scoreboard-widget" [players]="players"></barony-scoreboard>
      <barony-logs *ngIf="logsFixed" class="b-board-logs-widget" [logs]="logs"></barony-logs>
      <div class="b-board-buttons">
        <button class="b-board-button" [ngClass]="{ 'is-active': zoomFixed }" (click)="zoomFixed = !zoomFixed">
          <i class="fa fa-search-plus"></i>
        </button>
        <button class="b-board-button" [ngClass]="{ 'is-active': summaryFixed }" (click)="summaryFixed = !summaryFixed">
          <i class="fa fa-book"></i>
        </button>
        <button class="b-board-button" [ngClass]="{ 'is-active': scoreboardFixed }" (click)="scoreboardFixed = !scoreboardFixed">
          <i class="fa fa-star"></i>
        </button>
        <button class="b-board-button" [ngClass]="{ 'is-active': logsFixed }" (click)="logsFixed = !logsFixed">
          <i class="fa fa-file-text"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #endGameDialog>
  <h1 mat-dialog-title class="mat-typography">End game</h1>
  <barony-end-game mat-dialog-content
    [players]="players">
  </barony-end-game>
</ng-template>
