/* You can add global styles to this file, and also import other style files */
@use "./styles/layout.scss";
@use "./styles/scroll-bars.scss";
@use "./styles/buttons.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

[tuiTheme] {
  --tui-stroke-width: 2px;
  tui-hint {
    justify-self: baseline; // otherwise the hint is stretched in the grid layout cell of tui-popups
  }
}
[tuiTheme="dark"] {
  --tui-text-action: white !important;

  --tui-background-elevation-1: #151515 !important;
  // --tui-background-accent-1: black;
  // --tui-background-accent-1-hover: #6c86e2;
  // --tui-background-accent-1-pressed: #314692;
}
