@import "barony-variables";

.b-player-card {
  padding: 2vmin;
  cursor: pointer;
  font-size: 3vmin;
  &.is-red {
    background-color: $red-light;
  }
  &.is-yellow {
    background-color: $yellow-light;
  }
  &.is-green {
    background-color: $green-light;
  }
  &.is-blue {
    background-color: $blue-light;
  }
  &.is-current {
    .b-player-name {
      font-weight: 800;
    }
  }

  .b-player-content {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 2vw 2vw 2vw 2vw;
    column-gap: 1vmin;

    .b-player-pawn-image, .b-player-resource-image {
      display: flex;
      align-items: center;
      & > img {
        width: 100%;
      }
    }
    .b-player-pawn-quantity, .b-player-resource-quantity {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}