<div
  [class]="'b-player-card ' + 'is-' + player.color" 
  [ngClass]="{
    'is-current': currentPlayer,
    'is-ai': player.isAi,
    'is-remote': player.isRemote,
    'is-local': player.isLocal
  }"
  (click)="onCardClick ()">
  <div class="b-player-header">
    <i class="b-player-icon fa" [ngClass]="currentPlayer ? 'fa-circle' : 'fa-circle-o'"></i>
    <div class="b-player-name">{{ player.name }}</div>
    <i class="b-player-type-icon fa" [ngClass]="player.isAi ? 'fa-desktop' : (player.isRemote ? 'fa-globe' : 'fa-user')"></i>
    <i class="b-player-score-icon fa fa-star-o"></i>
    <div class="b-player-score">{{ player.score }}</div>
  </div>
  <div class="b-player-content">
    <div *ngFor="let pawnNode of pawnNodes; trackBy: pawnTrackBy"
      class="b-player-pawn-image"
      [ngClass]="{ 'is-active': pawnNode.active }"
      (click)="onPawnClick (pawnNode)">
      <img [src]="pawnNode.source">
    </div>
    <div *ngFor="let resourceNode of resourceNodes; trackBy: resourceTrackBy" class="b-player-resource-image"
      [ngClass]="{ 'is-active': resourceNode.active }"
      (click)="onResourceClick (resourceNode)">
      <img [src]="resourceNode.source">
    </div>
    <div *ngFor="let pawnNode of pawnNodes; trackBy: pawnTrackBy" class="b-player-pawn-quantity">
      {{ $any (player.pawns)[pawnNode.type] }}
    </div>
    <div *ngFor="let resourceNode of resourceNodes; trackBy: resourceTrackBy" class="b-player-resource-quantity">
      {{ resourceNode.quantity }}
    </div>
  </div>
</div>
