<svg:g
  class="b-land-tile"
  [ngClass]="{
    'is-active': active,
    'is-disabled': disabled
  }"
  (click)="onLandTileClick ()">
  <svg:polygon
    class="b-land-tile-polygon"
    [attr.id]="coordinates.x + ' ' + coordinates.y + ' ' + coordinates.z"
    [attr.points]="coordinates | baronyLandTileCoordinates:'hexagon'"
    [attr.fill]="'url(\'#' + type + '\')'">
  </svg:polygon>
  
  <svg:circle *ngIf="active"
    class="b-land-tile-active-signal"
    [attr.cx]="coordinates | baronyLandTileCoordinates:'center-x'"
    [attr.cy]="coordinates | baronyLandTileCoordinates:'center-y'"
    [attr.r]="activeCircleRadius" stroke="black" stroke-width="0.03" fill="transparent"/>
  
  <svg:image
    *ngFor="let pawnNode of pawnNodes; trackBy: pawnTrackBy"
    [attr.width]="pawnWidth"
    [attr.height]="pawnHeight"
    preserveAspectRatio="none"
    [attr.xlink:href]="pawnNode.href"
    [attr.x]="pawnNode.x"
    [attr.y]="pawnNode.y">
  </svg:image>

  <ng-container *ngFor="let pawnNode of pawnNodes; trackBy: pawnTrackBy">
    <svg:text
      class="b-land-tile-pawn-quantity"
      *ngIf="pawnNode.quantity > 1"
      [attr.x]="pawnNode.xText"
      [attr.y]="pawnNode.yText">
      {{ pawnNode.quantity }}
    </svg:text>
  </ng-container>
</svg:g>
