@mixin icon-size ($size) {
  i.fa {
    font-size: $size;
    line-height: $size;
  }
}

:host {
  display: grid;
  grid-template-rows: 6vmin 6vmin 6vmin 6vmin;
  grid-template-columns: 6vmin 6vmin 6vmin;
  // align-items: center;
  grid-template-areas:
    ". moveUp ."
    "moveLeft autoSize moveRight"
    ". moveDown ."
    "zoomIn resetButton zoomOut";
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
  }
  .move-up {
    grid-area: moveUp;
    @include icon-size(8vmin);
  }
  .move-down {
    grid-area: moveDown;
    @include icon-size(8vmin);
  }
  .move-left {
    grid-area: moveLeft;
    @include icon-size(8vmin);
  }
  .move-right {
    grid-area: moveRight;
    @include icon-size(8vmin);
  }
  .auto-size {
    grid-area: autoSize;
    @include icon-size(4vmin);
  }
  .zoom-in {
    grid-area: zoomIn;
    @include icon-size(20px);
  }
  .zoom-out {
    grid-area: zoomOut;
    @include icon-size(20px);
  }
  .reset {
    grid-area: resetButton;
  }
}