<button mat-icon-button class="move move-up" (click)="onMoveUp ()"><i class="fa fa-angle-up"></i></button>
<button mat-icon-button class="move move-down" (click)="onMoveDown ()"><i class="fa fa-angle-down"></i></button>
<button mat-icon-button class="move move-left" (click)="onMoveLeft ()"><i class="fa fa-angle-left"></i></button>
<button mat-icon-button class="move move-right" (click)="onMoveRight ()"><i class="fa fa-angle-right"></i></button>
<button mat-icon-button class="zoom zoom-in" (click)="onZoomIn ()"><i class="fa fa-plus"></i></button>
<button mat-icon-button class="zoom zoom-out" (click)="onZoomOut ()"><i class="fa fa-minus"></i></button>