<ng-container [bgForm]="newGame" (bgFormChange)="onNewGameChange ($event)">
  <mat-form-field>
    <mat-label>Game name</mat-label>
    <input bgField="name" matInput required autocomplete="off">
  </mat-form-field>
  <mat-radio-group bgField="type" class="b-new-game-type-radio">
    <mat-radio-button *ngFor="let type of gameTypeOptions"
      [value]="type.id">{{ type.label }}</mat-radio-button>
  </mat-radio-group>
  <button class="b-new-game-submit" mat-button (click)="onCreateGame ()" [disabled]="!newGameValid">Create game</button>
</ng-container>
