@import "barony-variables";

.barony-home-sidenav-container {
  height: 100%;
}

.barony-home-sidenav {
  width: 300px;
}

.barony-home-sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.b-home-buttons {
  display: flex;
  flex-direction: column;
  .b-home-new-game {
    @include b-button;
  }
}

.b-new-game-type-radio {
  display: flex;
  flex-direction: column;
}
