<div class="b-actions">
  <button
    class="b-action b-cancel"
    [ngClass]="{
      'is-active': canCancel,
      'is-disabled': !canCancel
    }"
    (click)="onCancelClick()"
  >
    {{ labels.cancel }}
  </button>
  <button
    class="b-action b-pass"
    [ngClass]="{
      'is-active': canPass,
      'is-disabled': !canPass
    }"
    (click)="onPassClick()"
  >
    {{ labels.pass }}
  </button>
  <button
    *ngFor="let action of actions"
    class="b-action"
    [ngClass]="{
      'is-active': isValid ? isValid[action] : false,
      'is-disabled': isValid ? !isValid[action] : true
    }"
    (click)="onActionClick(action)"
  >
    {{ labels[action] }}
  </button>
</div>
