<barony-board
  [lands]="lands$ | async"
  [logs]="logs$ | async"
  [turnPlayer]="turnPlayer$ | async"
  [currentPlayer]="currentPlayer$ | async"
  [players]="players$ | async"
  [message]="message$ | async"
  [validLands]="validLands$ | async"
  [validActions]="validActions$ | async"
  [validBuildings]="validBuildings$ | async"
  [validResources]="validResources$ | async"
  [canPass]="canPass$ | async"
  [canCancel]="canCancel$ | async"
  [maxNumberOfKnights]="maxNumberOfKnights$ | async"
  [endGame]="endGame$ | async"
  (playerSelect)="onPlayerSelect ($event)"
  (buildingSelect)="onBuildingSelect ($event)"
  (landTileClick)="onLandTileClick ($event)"
  (actionClick)="onActionClick ($event)"
  (passClick)="onPassClick ()"
  (cancelClick)="onCancelClick ()"
  (knightsConfirm)="onKnightsConfirm ($event)"
  (resourceSelect)="onResourceSelect ($event)">
</barony-board>