.bg-apps {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
  .bg-app-wrapper {
    padding: 10px;
    .bg-app {
      display: block;
      // cursor: pointer;
      width: 200px;
      height: 200px;
      &:hover {
        box-shadow: 0 4px 17px rgb(255 255 255 / 35%);
      }
      .bg-app-image {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.bg-users {
  .bg-user {
    &.logged-user {
      font-weight: 600;
    }
  }
}