<ng-container *ngIf="user$ | async as user; else signInTemplate">
  <button
    class="bg-account-button"
    mat-icon-button
    [matMenuTriggerFor]="accountMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu">
    <div class="bg-account-menu">
      <div class="bg-account-signed-in mat-typography">
        <div class="mat-body">Signed in as</div>
        <strong class="mat-body-strong">{{ user!.displayName }}</strong>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onSignOutClick ()">Sign out</button>
      <mat-divider></mat-divider>
      <button mat-menu-item color="warn" (click)="onDeleteAccountClick ()">Delete account</button>
    </div>
  </mat-menu>
</ng-container>
<ng-template #signInTemplate>
  <button
    class="bg-sign-in-button"
    mat-button
    [matMenuTriggerFor]="signInMenu">
    Sign in
  </button>
  <mat-menu #signInMenu="matMenu">
    <button mat-menu-item (click)="onSignInClick ('guest')">Sign in as guest</button>
    <button mat-menu-item (click)="onSignInClick ('google')">Sign in with Google</button>
  </mat-menu>
</ng-template>
