@import "brit-variables";

::ng-deep {
  .brit-player-blue { .bg-player-type-button { background-color: $blue; } }
  .brit-player-red { .bg-player-type-button { background-color: $red; } }
  .brit-player-green { .bg-player-type-button { background-color: $green; } }
  .brit-player-yellow { .bg-player-type-button { background-color: $yellow; } }
}