@import "barony-variables";

.b-games {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
  .b-game-wrapper {
    padding: 10px;

    .b-game {
      margin-bottom: $spacer;
      padding: $spacer;
      box-shadow: $widget-shadow;

      width: 200px;
      height: 200px;

      &:hover {
        box-shadow: 0 4px 17px rgb(255 255 255 / 35%);
      }

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $spacer;

      grid-template-areas: 
        "name name"
        "watch enter";

      .b-home-game-name {
        grid-area: name;
        text-align: center;
      }
      .b-home-game-watch {
        grid-area: watch;
        @include b-button;
      }
      .b-home-game-enter {
        grid-area: enter;
        @include b-button;
      }
    }


    // .bg-app {
    //   display: block;
    //   // cursor: pointer;
      
    //   
    //   .bg-app-image {
    //     width: 100%;
    //     height: 100%;
    //   }
    // }
  }
}